<div class="dashboard-container">

  <h2 class="dash-title">Dashboard Overview</h2>

  <div class="row g-3 mt-3">

    @if (loading) {
    <div class="col-12 col-sm-6 col-md-3" *ngFor="let n of [1,2,3,4]">
      <app-skeleton [lines]="3"></app-skeleton>
    </div>
    }

    @if (!loading) {
    <div class="col-12 col-sm-6 col-md-3" *ngFor="let s of stats">
      <div class="stat-card">
        <div class="icon" [style.background]="s.color">
          <i class="fa" [ngClass]="s.icon"></i>
        </div>
        <div>
          <p class="stat-title">{{ s.title }}</p>
          <h3 class="stat-value">{{ s.value }}</h3>
        </div>
      </div>
    </div>
    }

  </div>


  <!-- RECENT EMPLOYEES -->
  <div class="card mt-4">
    <div class="card-header">
      <h5>Recent Employees</h5>
    </div>

    <div class="card-body p-0">

      @if (loading) {
      <div class="p-3">
        <app-skeleton [lines]="6"></app-skeleton>
      </div>
      }

      @if (!loading) {
      <table class="table mb-0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Department</th>
            <th>Salary</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let r of recent">
            <td>{{ r.name }}</td>
            <td>{{ r.department_name }}</td>
            <td>{{ r.salary | currency:'PKR':'symbol' }}</td>
          </tr>
        </tbody>
      </table>
      }

    </div>
  </div>


  <!-- QUICK ACTIONS -->

  <div class="row mt-4">
    <div class="col-md-6 offset-md-6">
      <button class="quick-btn" (click)="onGenerateReport()">
        <i class="fa fa-file-alt"></i> Generate Report
      </button>
    </div>
  </div>




</div>