
/* Wrapper containing sidebar + content */
.d-flex {
  height: calc(100vh - 70px); /* Navbar height adjust */
  display: flex;
  overflow: hidden;
}

.main-content {
  flex-grow: 1;
  height: 100%;
  overflow-y: auto;
  padding: 2rem;
}

app-navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}
