.attendance-admin-container {
  padding: 25px;
}

.header-card {
  background: linear-gradient(45deg, #0d6efd, #6610f2);
  padding: 25px;
  border-radius: 12px;
  color: white;
  margin-bottom: 25px;
}

.title {
  font-weight: 700;
}

.filters {
  display: flex;
  gap: 15px;
  padding: 15px;
  background: #fff;
  border-radius: 12px;
  margin-bottom: 25px;
}

.table-wrapper {
  background: white;
  border-radius: 12px;
  padding: 10px;
}

td.late {
  color: #dc3545;
  font-weight: bold;
}

td.early {
  color: #fd7e14;
  font-weight: bold;
}
